<% @user ||= current_user %>
<div class="stats">
  <label class="label-auto">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <strong>
      <%= link_to t("views.users.following"),
        follow_user_path(@user, path: "following") %>
    </strong>
  </label class="label-auto">
  <label class="label-auto">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <strong>
      <%= link_to t("views.users.followers"),
        follow_user_path(@user, path: "followers") %>
    </strong>
  </label>
</div>
