@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";

$gray-medium-light: #eaeaea;

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.section group{
  width: 100%;
  height: 350px;
  float: left;
}
.row1{
  width: 25%;
  float: left;
  height: 20%;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_follow {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
  }
}

.title{
  color: green;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #e1f5fe;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.navbar-inverse {
    background-color: #33691e;
    border-color: #090909;
}

.btn-info {
    background-color: #33691e;
    border-color: #46b8da;
    color: #fff;
}

.btn {
    background-color: #33691e;
    border-color: #2e6da4;
    color: #fff;
}

.jumbotron {
    background-color: #e0f2f1;
    color: inherit;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.info{
  color: green;
}
/* Categories manager */
.manager-categories{
  thead{
    tr{
      .id{
        width: 10%;
      }
      .name{
        width: 50%;
      }
      .total{
        width: 20%;
      }
      .action{
        width: 20%;
      }
    }
  }
  tbody{
    tr{
      .category-id{
        padding-left: 30px;
      }
    }
  }
}

/* review + book */
#show_book{
  h2{
    margin:0px;
  }
}
.review{
  margin-top: 10px;
}

$size: 24px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}
